// Imports

*,
::after,
::before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #000;
}

a {
  cursor: pointer;
}

p {
  margin-bottom: 1.15rem;
}

img {
  width: 100%;
  height: auto;
}

.is-24x24 {
  width:24px;
  height:24px;
}

.is-48x48 {
  width:48px;
  height:48px;
}

.media-left {
  flex:0 0 auto;
}

// Grid

.page {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.row {
  display: flex;
}

.col {
  display: block;
  flex: 1 1 0;
  padding: 0.75rem;
}

.wrap {
  flex-wrap: wrap;
}

.is-narrow {
  flex: none;
}

.is-half {
  flex: 0 0 50%;
}

.is-1 {
  flex: 0 0 8.33333%;
}

.is-4 {
  flex: 0 0 16.6666%;
}

.is-8 {
  flex: 0 0 66.6666%;
}

.center-x {
  justify-content: center;
}

.center-y {
  align-items: center;
}

.push-1 {
  margin-left: 8.3333%;
}

.p-0 {
  padding: 0;
}

.container {
  max-width: 1260px;
  flex: 1 1 auto;
  align-self: center;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 4em;
  position: relative;
  border-left: 1px solid #DCD9D4;

  h1 {
    font-family: $brand-font-1;
    font-size: 5em;
    line-height: 100%;
  }

  &::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 25px;
    background: transparent url("../img/rune-01.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 64px;
    right: 32px;
  }
}

.is-primary {
  background: $primary;
  color: #FFF;
}

.image {
  display: block;
  position: relative;
}

.is-16x9 {
  padding-top: 56.25%;
}

#global-header {
  background: #000;
  color: #FFF;
  display: flex;
  font-family: 'Rough Cut';
  flex: 0 1 auto;
  padding: 12px;
  align-items: stretch;
}

.navbar-brand {
  align-items: stretch;
  display: flex;
}

.navbar-menu {
  display: flex;
  flex: 1;
}

.navbar-start {
  display: flex;
  flex: 1;
  align-items: center;
}

.navbar-end {
  display: flex;
}

.navbar-item {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  line-height: 1.5em;
  padding: 0.5rem 0.75rem;
  color: $secondary-light;
  text-decoration: none;
}

a.navbar-item:hover {
  color:#FFF;
}

#global-footer {
  background: $tertiary;
  color: #FFF;
}

h1.page-title {
  font-size: 6em;
  text-transform: uppercase;
  margin-bottom: 0.25em;
}

h2.module-header {
  font-family: $brand-font-2;
  font-size: 1.5em;
}

.stretch {
  height:100%;
  align-content: stretch;
}
