$primary: #D90429;
$primary-hover: #C60022;
$secondary-light: #CEC5AC;
$secondary-dark: #998D76;
$tertiary: #2D333D;
$brand-font-1: 'Room 205'; // Chat Colors
$brand-font-2: 'Rough Cut'; // Chat Colors

$chat-color-1:#00e5ff;
$chat-color-2:#f44336;
$chat-color-3:#00e676;
$chat-color-4:#b388ff;
$chat-color-5:#ffc107;
$chat-color-6:#ff5722;
$chat-color-7:#8bc34a;
$chat-color-8:#607d8b;
$chat-color-9:#2196f3;
$chat-color-10:#69f0ae;
$chat-color-11:#18ffff;
$chat-color-12:#cddc39;